html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#iframe-container {
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#iframe-container iframe {
    width: 100%;
    height: 100%;
    border: none;
    display: block;
}
